@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}
html{
    /* me permite deslizar cuando hago clic en los links del menu */
    scroll-behavior: smooth;
}
/* MENU */
.contenedor-header{
    /* background: #1e2326; */
    background: #6e6e6e; 
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.contenedor-header header .logo a{
    font-family: 'Righteous';
    font-size: 36px;
    color: #0cc52b;
    text-decoration: none;
    /* #1CB698; */
}
.contenedor-header header ul{
    display: flex;
    list-style: none;
}
.contenedor-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.contenedor-header header nav ul li a:hover{
    color: #0cc52b;
}
.nav-responsive{
    background-color: #0cc52b;
    color:#fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
/* SECCION I N I C I O */
.inicio{
    background: linear-gradient(to top, rgba(111, 193, 240, 0.8), rgb(108, 186, 231)),
    url(img/fondo.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}
.inicio .contenido-banner{
    padding: 85px;
    background-color: #79b7db;
    max-width: 450px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}
.inicio .contenido-banner img{ 
    margin-top: 80px;
    border: 2px solid #0cc52b;
    display: block;
    width: 70%;
    margin: auto;
    border-radius: 10%; 
 } 
.inicio .contenido-banner h1{
    margin-top: 40px;
    font-size: 35px;
    font-family: 'arial';
}
.inicio .contenido-banner h2{
    font-size: 15px;
    font-weight: normal;
}
.inicio .contenido-banner .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}
.inicio .contenido-banner .redes a:hover{
    background-color: #0cc52b;
}
.sobremi{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}
.sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.sobremi h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}
.sobremi .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}
.sobremi .contenido-seccion p span{
    color: #0cc52b;
    font-weight: bold;
}
.sobremi .fila{
    display: flex;
}
.sobremi .fila .col
{
    width: 50%;
}
.sobremi .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.sobremi .fila .col ul{
    list-style: none;
}
.sobremi .fila .col ul li{
    margin: 12px 0;
}
.sobremi .fila .col ul li strong{
    display: inline-block;
    color: #0cc52b;
    width: 130px;
}
.sobremi .fila .col ul li span{
    background-color: #0cc52b;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}
.sobremi .fila .col .contenedor-intereses{
    display: flex;
    flex-wrap: wrap;
}


.sobremi .fila .col .contenedor-intereses .interes{
    width: 100px;
    height: 100px;
    background-color: #252A2E;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}.sobremi .fila .col .contenedor-intereses .interes:hover{
    background-color: #0cc52b;
}
.sobremi .fila .col .contenedor-intereses .interes i{
    font-size: 30px;
    margin-bottom: 10px;
}
.sobremi button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}
.sobremi button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #0cc52b;
    z-index: -1;
    transition: 1s;
}
.sobremi button:hover .overlay{
    width: 100%;
}
/* SECCION S K I L L S */
.titulo{
    font-size: 26px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}
.trabajo{
    font-size: 26px;
    font-family: '';
    text-align: center;
    padding: 20px 0;

}

.habilidades{
    background-color: #252A2E;
     color: #fff;
    padding: 50px 20px;
}
.habilidades .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.habilidades h2{
    font-size: 48px;
    font-family: 'Arial';
    text-align: center;
    padding: 20px 0;

}
.habilidades .fila{
    display: flex;
}
.habilidades .fila .col{
    width: 50%;
    padding: 0 20px;
}
.habilidades .fila .col h3{
    font-size: 28px;
    font-family: 'Arial';
    margin-bottom: 25px;
}
.habilidades .habilidades > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
} 


/* SECCION CURRICULUM */
.curriculum{
    background-color: #f9fafa;
    color: #161616;
    padding: 50px 20px;
}
.curriculum .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.curriculum h2{
    font-size: 48px;
    font-family: 'work sans';
    text-align: center;
    padding: 20px 0;

}
.curriculum .fila{
    display: flex;
    justify-content: space-between;
}
.curriculum .fila .col{
    width: 49%;
    padding: 0 20px;
}
.curriculum .fila .col h3{
    font-size: 28px;
    font-family: 'work sans';
    margin-bottom: 25px;
}
.curriculum .fila .izquierda{
    border-right: 2px solid #252A2E;
}
.curriculum .fila .derecha{
    border-left: 2px solid #252A2E;
}
.curriculum .fila .item{
    padding: 25px;
    margin-bottom: 30px;
    background-color: #bebdbd;
    position: relative;
}
.curriculum .fila .item h4{
    font-size: 20px;
    margin-bottom: 10px;
}
.curriculum .fila .item .casa{
    color: #0f0f0f;
    font-size: 22px;
    font-weight: bold;
    display: block;
}
.curriculum .fila .item .fecha{
    display: block;
    color:  #20c48d;
    margin-bottom: 10px;
}
.curriculum .fila .item p{
    line-height: 24px;
}
.curriculum .fila .izq{
    border-right: 2px solid #20c48d;
    margin-right: 20px;
}
.curriculum .fila .der{
    border-left: 2px solid #20c48d;
    margin-left: 20px;
}
.curriculum .fila .item .conectori{
    height: 2px;
    background-color:#20c48d;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}
.curriculum .fila .item .conectori .circuloi{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #20c48d;
    float: right;
    position: relative;
    bottom: 4px;
}
.curriculum .fila .item .conectord{
    height: 2px;
    background-color: #20c48d;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}
.curriculum .fila .item .conectord .circulod{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #20c48d;
    float: left;
    position: relative;
    bottom: 4px;
}

footer .arriba{
  display: block;
  width: 50px;
  height: 50px;
  background-color: #0f0f0f;
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -25px;
  border-radius: 50%;
  line-height: 50px;
  font-size: 18px;
}

/* ---------- General ----------------- */
body {
  overflow-x: hidden;
  font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p {
  line-height: 1.75;
}

a {
  color: #69b3a2;
}

a:hover {
  color: #251667;
}

.text-primary {
  color: #69b3a2 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 10;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section {
  padding: 100px 0;
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 45px;
  text-transform: none;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}


u {
  padding-bottom:3px;
  text-decoration:none;
  border-bottom:1px solid #000;
}

/* ---------- Dismiss a few elements if small screen: ----------------- */
@media (max-width: 1200px) {
  .hide-if-small-screen {
    display: none;
  }
}

/* ---------- Disabled Links ----------------- */
.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}


/* ---------- Button ----------------- */
.btn {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
  margin: 3px;
}

.btn-primary {
  background-color: transparent;
  border-color: #69b3a2;
  color: #69b3a2;
  border-width: medium;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #161616 !important;
  border-color: #69b3a2 !important;
  color: white;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}


.btn-secondary {
  background-color: transparent;
  border-color: #69b3a2;
  color: #69b3a2;
  border-width: small;
}

.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
  background-color: #69b3a2 !important;
  border-color: #69b3a2 !important;
  color: white;
}

.btn-secondary:active, .btn-secondary:focus {
  background-color: #69b3a2 !important;
}

.btn-secondary:not(:disabled):not(.disabled).active {
  background-color: #69b3a2 !important;
  border-color: #69b3a2 !important;
  color: white;
}



::-moz-selection {
  background: #69b3a2;
  text-shadow: none;
}

::selection {
  background: #69b3a2;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

#mainNav {
  background-color: white;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #69b3a2;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}



/* Color of 'from data to viz' on the top left */
#mainNav .navbar-brand {
  color: #69b3a2;
  font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #251667;
}



/* Color of the TEXT of the menu top right*/
#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: black;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #69b3a2;
  background-color: white;
  border-bottom: 3px solid #69b3a2;
}


@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: white;
  }

  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}

.masthead {
  text-align: center;
  color: black;
  position: relative;
  overflow: hidden;
}

.parallax {
    /* The image used (faded with convert overview_RGG.png  -fill white -colorize 50%  overview_RGG_faded.png*/
    background-image: url("../img/overview_RGG_faded.png");

    /* Set a specific height */
    min-height: 100px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallaxwebsite {
    /* The image used (faded with convert overview_RGG.png  -fill white -colorize 50%  overview_RGG_faded.png*/
    background-image: url("../img/parallax/poster_zoom_fadded.png");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallaxcontact {
    /* The image used (faded with convert overview_RGG.png  -fill white -colorize 50%  overview_RGG_faded.png*/
    background-image: url("../img/parallax/surf_fading.png");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.parallaxposter {
    /* The image used (faded with convert overview_RGG.png  -fill white -colorize 50%  overview_RGG_faded.png*/
    background-image: url("../img/parallax/poster_zoom_fadded.png");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




header.masthead .intro-text {
  padding-top: 150px;
  padding-bottom: 150px;
}

header.masthead .intro-text .intro-lead-in {
  font-size: 14px;
  font-style: italic;
  line-height: 22px;
  margin-bottom: 25px;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header.masthead .intro-text .intro-heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) {
  header.masthead .intro-text {
    padding-top: 100px;
    padding-bottom: 200px;
  }
  header.masthead .intro-text .intro-lead-in {
    font-size: 16px;
    font-style: italic;
    color: rgb(128, 128, 128);
    line-height: 40px;
    margin-bottom: 25px;
    margin-right: 20%;
    margin-left: 20%;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  header.masthead .intro-text .intro-heading {
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
}

.service-heading {
  margin: 15px 0;
}



#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 2%;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease 1s;
  -moz-transition: all ease 1s;
  transition: all ease 1s;
  opacity: 0;
  background: rgba(88, 170, 151, 0.7);
  border-radius: 2%;
  background-color: #69b3a2 !important;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 0.8;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  font-size: 22px;
  position: absolute;
  top: 20%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: white;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  background-color: 'none';
}

#portfolio .portfolio-item .portfolio-caption h4 {
  margin: 0;
  text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#portfolio * {
  z-index: 2;
}

@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}


.column {
    display: none; /* Hide all elements by default */
}
.show {
  display: block;
}



/* -------------------- MENU ------------------ */


    .dropdown-submenu {
        position: relative;
    }

    .dropdown-submenu>.dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 0 6px 6px 6px;
    }

    .dropdown-submenu:hover>.dropdown-menu {
        display: block;
    }

    .dropdown-submenu>a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc;
        margin-top: 5px;
        margin-right: -10px;
    }

    .dropdown-submenu:hover>a:after {
        border-left-color: #fff;
    }

    .dropdown-submenu.pull-left {
        float: none;
    }

    .dropdown-submenu.pull-left>.dropdown-menu {
        left: -100%;
        margin-left: 10px;
        -webkit-border-radius: 6px 0 6px 6px;
        -moz-border-radius: 6px 0 6px 6px;
        border-radius: 6px 0 6px 6px;
    }




/* -------------------- TOOLTIP ------------------ */


.data-tooltip{
  color: black;
  background-color: white;
  background: white;
  align-content: "middle";
  margin-right: 10%;
  margin-left: 10%;
}

.tooltip.show {
    opacity: 1;
    background-color: white;
    border: green;
}


/* -------------------- MODAL ------------------ */

/* width of modal: different following the device: small (100%), medium(50%), large(30%); */
.portfolio-modal .modal-dialog {
  margin: 3rem;
  max-width: 100vw;
  max-height: 95vh;
  overflow-y: auto;
}
@media (min-width: 1000px) {
  .portfolio-modal .modal-dialog {
    max-width: 70vw;
  }
}
@media (min-width: 1800px) {
  .portfolio-modal .modal-dialog {
    max-width: 30vw;
  }
}

.portfolio-modal .modal-content {
  padding: 10px 0;
}

.portfolio-modal .modal-content h2 {
  font-size: 2em;
  margin-bottom: 15px;
}

.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
  font-size: 16px;
  font-style: italic;
  margin: 20px 0 30px;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.portfolio-modal .modal-content ul.list-inline {
  margin-top: 0;
  margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}

.portfolio-modal .modal-content button {
  cursor: pointer;
}


/* -------------------- CLOSING MODAL ------------------ */


.portfolio-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background-color: transparent;
}

.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}

.portfolio-modal .close-modal .lr {
  /* Safari and Chrome */
  z-index: 1051;
  width: 1px;
  height: 75px;
  margin-left: 35px;
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #212529;
}

.portfolio-modal .close-modal .lr .rl {
  /* Safari and Chrome */
  z-index: 1052;
  width: 1px;
  height: 75px;
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  background-color: #212529;
}


section#contact {
  background-color: #212529;
  background-image: url("../img/map-image.png");
  background-repeat: no-repeat;
  background-position: center;
}

section#contact .section-heading {
  color: #fff;
}

section#contact .form-group {
  margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}

section#contact .form-group input.form-control {
  height: auto;
}

section#contact .form-group textarea.form-control {
  height: 248px;
}

section#contact .form-control:focus {
  border-color: #fed136;
  box-shadow: none;
}

section#contact ::-webkit-input-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section#contact :-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  /* Firefox 18- */
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section#contact ::-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  /* Firefox 19+ */
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section#contact :-ms-input-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer {
  padding: 25px 0;
  text-align: center;
}

footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer ul.quicklinks {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #212529;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #ee670d;
}


/* ------------------------------------------------------------------------------------------------------------------- */

/* CSS for the image caroussell (poster) */
/** {box-sizing: border-box}
    body {font-family: Verdana, sans-serif; margin:0}
    .mySlides {display: none}
    img {vertical-align: middle;}*/

    /* Slideshow container */
    .slideshow-container {
      max-width: 1000px;
      position: relative;
      margin: auto;
    }

    /* Next & previous buttons */
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -22px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
    }

    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
    }

    /* Caption text */
    .text {
      color: #f2f2f2;
      font-size: 15px;
      padding: 8px 12px;
      position: absolute;
      bottom: 8px;
      width: 100%;
      text-align: center;
    }


    /* The dots/bullets/indicators */
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #69b3a2;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }

    .active, .dot:hover {
      background-color: white;
    }

/* ------------------------------------------------------------------------------------------------------------------- */


/* ------------------------------------------------------------------------------------------------------------------- */
/* Customize the gallery of the portfolio section
/* ------------------------------------------------------------------------------------------------------------------- */

.captionPortfolio {
  font-size: 12px;
  padding: 8px;
  margin: 0px;
  text-align: center;
}

/* Create three equal columns that floats next to each other */
.column {
    display: none; /* Hide all elements by default */
}

    /* The "show" class is added to the filtered elements */
.show {
  display: block;
}
</style>

/* ------------------------------------------------------------------------------------------------------------------- */


/* ------------------------------------------------------------------------------------------------------------------- */
/* TOOLTIP WITH DATA EXAMPLE
/* ------------------------------------------------------------------------------------------------------------------- */

.tooltip {
  max-width:510px;
  padding:3px 8px;
  color:white;
  text-align:center;
  background-color:white;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px
}

.tooltip-inner {
  max-width:510px;
  color:black;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}



/* ------------------------------------------------------------------------------------------------------------------- */
/* LOST
/* ------------------------------------------------------------------------------------------------------------------- */


    .cardtitle {
      color: orange;
      text-align: left;
    }


/* ------------------------------------------------------------------------------------------------------------------- */
/* PARTICLE.JS CSS
/* ------------------------------------------------------------------------------------------------------------------- */

#particles-js{
  width: 100%;
  height: 800px;
  background-color: rgb(167, 75, 39);
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}


/* ------------------------------------------------------------------------------------------------------------------- */
/* BLOG SECTION
/* ------------------------------------------------------------------------------------------------------------------- */

.blogtitle{
  font-size: 23px;
  color: black;
  font-weight: 400
}

.blogfeature{
  font-size: 12px;
  color: grey;
}

.blogtext{
  font-size: 18px;
  color: black;
  font-weight: 100
}

.blogreadmore{
  font-size: 18px;
  color: #69b3a2;
  font-weight: 300
}





/* ------------------------------------------------------------------------------------------------------------------- */
/* LANDING PAGE
/* ------------------------------------------------------------------------------------------------------------------- */


.textlanding {
  color: black;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%,-50%);
  max-width: 600px;
  padding: 2em 3em;
}
.arrowlanding {
  color: black;
  position: absolute;
  top: 98%;
  right: 50%;
  transform: translate(50%,-50%);
  max-width: 600px;
  padding: 2em 3em;
}
